# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\Alex\OneDrive - Technical University of Cluj-Napoca\Documents\Cursuri\SCS\SCS proiect 1\CNC-machine-control-program\CNC-machine-program\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
