# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\Alex\OneDrive - Technical University of Cluj-Napoca\Documents\Cursuri\SCS\JGCGen-master\CNC machine Control program\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
